body {
	font-family: 'Dosis', sans-serif;
	font-size: 12px;
}
/*header */
.header {
	color: #424242;
	padding-top: 2%;
}
.header__title {
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #26c6da;
} 
.tag__line {
	font-family: 'Pacifico', cursive;
}
.modal-body {
	text-align: center;
}
.img__padding{
    padding-top: 2%;
}
.imagebox:hover img {
  opacity: 0.7;
}
hr {
	height: 1px;
	/* Set the hr color */
	color: #333;
	/* old IE */
	background-color: #333;
	/* Modern Browsers */
}